API_KEY= "your api key here" # enter your openweather api-key here
OPEN_WEATHER_URL = https://api.openweathermap.org/data/2.5/onecall #replace with different api if needed
HASHED_PASSWORD = "hashed password" # enter your generated hashed password here
SECRET_KEY = "15c7bed506ea45c1073e0b3a3212d08e30d62a157c0f1399483ba4bfdd04c66e" # enter you secret key generated with openssl rand -hex 32 here
ACCESS_TOKEN_EXPIRE_MINUTES = 30 # change the expire time of bearer token if needed